<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.idemia.biosmart">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Bio Smart SDK -->
    <permission
            android:name="com.idemia.biosmart.NEW_READ_LKMS_LICENSE_PROVIDER"
            android:protectionLevel="signature"/> <!-- unless otherwise required, set the maximum security permission -->
    <permission
            android:name="com.idemia.biosmart.NEW_WRITE_LKMS_LICENSE_PROVIDER"
            android:protectionLevel="signature"/> <!-- unless otherwise required, set the maximum security permission -->
    <permission
            android:name="com.idemia.biosmart.NEW_READ_MPH_BIO_SDK_PROVIDER"
            android:protectionLevel="signature"/> <!-- unless otherwise required, set the maximum security permission -->
    <permission
            android:name="com.idemia.biosmart.NEW_WRITE_MPH_BIO_SDK_PROVIDER"
            android:protectionLevel="signature"/>

    <application
            android:name=".BioSmartApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="true"
            android:usesCleartextTraffic="true">
        <activity android:name=".scenes.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".scenes.welcome.WelcomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".scenes.enrolment.EnrolmentActivity" android:label="@string/label_enrolment"/>
        <activity android:name=".scenes.user_info.UserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".scenes.authenticate.AuthenticateActivity" android:label="@string/label_authentication"/>
        <activity android:name=".scenes.identify.IdentifyActivity" android:label="@string/label_identify"/>
        <activity android:name=".scenes.settings.SettingsActivity" android:label="@string/title_activity_settings"/>
        <activity android:name=".scenes.mso.MsoActivity" android:screenOrientation="landscape"/>
        <activity android:name=".scenes.capture_fingers.FingersCaptureActivity" android:screenOrientation="portrait"/>
        <activity android:name=".scenes.capture_face.FaceCaptureActivity" android:screenOrientation="portrait"/>
        <activity android:name=".scenes.face_info.FaceInfoActivity"/>
        <activity android:name=".scenes.enrolment_details.EnrolmentDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".scenes.fingers_info.FingersInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".scenes.license.LicenseActivity"/>

        <!-- The provider needs to be defined by the implementing app so as to allow multiple apps -->
        <provider
                android:name="com.morpho.mph_bio_sdk.android.sdk.content_provider.BioStoreProvider"
                android:authorities="com.idemia.biosmart.bio_store"
                android:readPermission="com.idemia.biosmart.NEW_READ_MPH_BIO_SDK_PROVIDER"
                android:writePermission="com.idemia.biosmart.NEW_WRITE_MPH_BIO_SDK_PROVIDER"
                tools:replace="android:authorities, android:readPermission, android:writePermission"/>
        <provider
                android:name="com.morpho.lkms.android.sdk.lkms_core.content_provider.LkmsStoreProvider"
                android:authorities="com.idemia.biosmart.lkms"
                android:readPermission="com.idemia.biosmart.NEW_READ_LKMS_LICENSE_PROVIDER"
                android:writePermission="com.idemia.biosmart.NEW_WRITE_LKMS_LICENSE_PROVIDER"
                tools:replace="android:authorities, android:readPermission, android:writePermission"/>
    </application>
</manifest>