<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.idemia.biosmart">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".BioSmartApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".scenes.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <data
                        android:host="www.idemia.com"
                        android:pathPrefix="/"
                        android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".scenes.welcome.WelcomeActivity"/>
        <activity android:name=".scenes.enrolment.EnrolmentActivity"/>
        <activity android:name=".scenes.user_info.UserInfoActivity"/>
        <activity android:name=".scenes.authenticate.AuthenticateActivity">
        </activity>
        <activity android:name=".scenes.identify.IdentifyActivity">
        </activity>
        <activity
                android:name=".scenes.settings.SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>